@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@font-face {
  font-family: "Vipnagorgialla";
  src: url("/fonts/Vipnagorgialla Rg.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Vipnagorgialla";
  src: url("/fonts/Vipnagorgialla Bd.otf") format("opentype");
  font-style: bold;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  color-scheme: light dark; /* Follows system by default */

  --background: light-dark(#f3f6fb, #282b2f);
  --foreground: light-dark(#e3e3e3, #07171F);
  --verticalbar: light-dark(#ffffff, #0a1f29);
  /*Previously, dark vb was 101828*/
  --verticalbar-highlight: light-dark(#000000, #ffffff);
  --verticalbar-unselected: light-dark(#a1afb8, #a1afb8);
  --text: light-dark(#000000, #ffffff);
  --text-subtle: light-dark(#a3a3a3, #d6d6d6);
  --table: light-dark(#ffffff, #0a1f29);
  --border: light-dark(#99a1af, #4c5057);
  --assertion: light-dark(#f3f4f6, #07171F);
  --assertion-hover: light-dark(#e5e7eb, #122532);
}

/* These overrides allow the toggle button to work */
[data-theme="light"] {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}

@theme {
  --color-background: var(--background);
  --color-verticalbar: var(--verticalbar);
  --color-verticalbar-highlight: var(--verticalbar-highlight);
  --color-verticalbar-unselected: var(--verticalbar-unselected);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --color-text-subtle: var(--text-subtle);
  --color-table: var(--table);
  --color-border: var(--border);
  --color-assertion: var(--assertion);
  --color-assertion-hover: var(--assertion-hover);

  /* --color-prose-body: var(--text);
  --color-prose-headings: var(--text);
  --color-prose-bold: var(--text);
  --color-prose-code: var(--verticalbar-highlight);
  --color-prose-pre-bg: var(--verticalbar);
  --color-prose-pre-code: var(--text); */
}

.prose {
  color: var(--text);
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif, Vipnagorgialla;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-track {
  background: #f3f3f3;
  border-radius: 9999px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 9999px;
}
